/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему тест гита
*/
:root .theme_light {
  --accent-color: #FF8DCB;
  --button-color: #353430;
  --button-hover-color: #35343040;
  --content-text-color: #353430;
  --decor-border-color: #353430;
  --decor-content-item: #FFF1F7;
  --main-back-color: #FFF1F7;
  --rare-accent-color: #FFC2E6;
  --section-title-color: #353430;
  --title-decor-color: #353430;
  --title-decor-back-color: #FF8DCB;
  
  --back-image: url(/images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
  --accent-color: #FF8DCB;
  --button-color: #353430;
  --button-hover-color: #35343040;
  --content-text-color: #353430;
  --decor-border-color: #353430;
  --decor-content-item: #FFF1F7;
  --main-back-color: #FFF1F7;
  --rare-accent-color: #FFC2E6;
  --section-title-color: #353430;
  --title-decor-color: #353430;
  --title-decor-back-color: #FF8DCB;

  --back-image: url(/images/cover-image-light.png);
  }

  .page.theme_auto .header__decor-text {
    display: none;
  } 
    
  .page.theme_auto .header__decor-circle {
    display: none;
  }
}

